@import "~bootstrap/scss/bootstrap";

*{
	margin:0;
	padding:0;
	font-family:Arial;

}

.main_logo{
	color:#3c131a;
	font-weight:bold;
	font-size:50px;
	display:inline-block;
}

.heading{
	display:block;
	background:yellow;
}
.btn_img{
	width:30px;
	height:30px;
}
#categories{
	color:#441129;
}